body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./img/5_background/background.jpg');
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family: 'west', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'west';
    src: url('fonts/west.ttf');
}

h1 {
    font-size: 64px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
}

#rotate-warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    z-index: 9999;
}

#rotate-warning img {
    width: 200px;
    margin-bottom: 20px;
}

canvas {
    background-color: black;
    display: block;
    border-radius: 8px;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.game-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 720px;
    height: 480px;
    background-color: grey;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}

.menu-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 720px;
    height: 480px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    object-fit: fill;
}

.menu-content {
    width: 100%;
    margin-bottom: 12px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 8px;
}

.instructions-container,
.imprint-container {
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 176, 72, 0.89);
    border-radius: 8px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    scrollbar-width: none;
    z-index: 5;
    overflow: auto;
}

.instructions-pics {
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.instructions-pics img {
    width: 60px;
}

.imprint-container {
    font-family: Georgia, 'Times New Roman', Times, serif
}

.back-to-menu {
    position: absolute;
    top: 5%;
    right: 5%;
}

.win-loose-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 720px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.win-loose-image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.win-loose-buttons {
    position: absolute;
    bottom: 1vh;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
}

.overlay {
    position: absolute;
}

.panel-above {
    display: flex;
    flex-direction: row;
    gap: 12px;
    position: absolute;
    z-index: 1;
    top: 1vh;
}

.panel-above .btn {
    padding: 8px 8px;
}

.panel-above img {
    display: flex;
    width: 40px;
}

.panel-below {
    position: absolute;
    display: none;
    width: 100%;
    justify-content: space-around;
    bottom: 8px;
}

.panel-below-left {
    display: flex;
    gap: 40px;
}

.panel-below-right {
    display: flex;
    gap: 40px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 15px;
    line-height: 1;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    border-radius: 16px;
    height: 30px;
    font-family: 'west', Arial, Helvetica, sans-serif;
    border: 3px outset #ff8100;
    transition: 0.3s;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.5);
    background-color: #f57f17;
    opacity: 1;
}

.btn:hover {
    opacity: 0.6;
    cursor: pointer;
}

.btn:active {
    outline: none;
    background-color: #b85600;
}

@media only screen and (max-width: 1080px) {
    canvas {
        width: 100vw;
        height: 100vh;
    }

    .menu-container {
        width: 100vw;
        height: 100vh;
        object-fit: fill;
        aspect-ratio: auto 720 / 480;
    }

    .game-content {
        width: 100vw;
        height: 100vh;
        aspect-ratio: auto 720 / 480;
    }

    .win-loose-container {
        width: 100vw;
        height: 100vh;
        aspect-ratio: auto 720 / 480;
    }

    .instructions-container,
    .imprint-container {
        width: 100vw;
        height: 100vh;
        aspect-ratio: auto 720 / 480;
    }

    .panel-below {
        display: flex !important;
    }

    .toggle-button {
        display: none;
    }

}

@media only screen and (max-width: 480px) {
    canvas {
        height: 100vh;
    }

}

@media screen and (max-height: 480px) {
    canvas {
        width: unset;
        height: 100vh;
        aspect-ratio: auto 720 / 480;
    }

    .menu-container {
        width: unset;
        height: 100vh;
        object-fit: fill;
        aspect-ratio: auto 720 / 480;
    }

    .game-content {
        width: unset;
        height: 100vh;
        aspect-ratio: auto 720 / 480;
    }

    .win-loose-container {
        width: unset;
        height: 100vh;
        aspect-ratio: auto 720 / 480;
    }

    .instructions-container,
    .imprint-container {
        width: 100vw;
        height: unset;
        aspect-ratio: auto 720 / 480;
    }
    
}